<div class="container md-8">
  <h1>Cart :</h1>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of cart">
      <div class="card mb-5">
        <img [src]="item.imageUrl" class="card-img-top" alt="Product Image">
        <div class="card-body row ">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">Price: ${{ item.price }}</p>
          <div class="col " style="width: 50%;">
            <p>
              Quantity: 
              <input type="number" [(ngModel)]="item.quantity" (change)="editCart(item.id, item.quantity)"
                min="1" class="form-control" style="width: 50%;">
            </p>

          </div>
          <div class="col md-3 mt-4 " style="width: 50%; ">
            <button class="btn btn-danger" (click)="removeFromCart(item.id)">Remove</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
